/* Reset básico */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2F2F2F;
    padding: 10px 20px;
    color: #FFFFFF;
}
.header img {
    max-width: 100px;
    border-radius: 10px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #DADADA;
}

.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #BFBFBF;
    font-size: 16px;
}

.navigation a:hover {
    color: #FFFFFF;
}

.actions {
    margin-left: auto;
}

.actions .btn-login {
    background-color: transparent;
    border: 1px solid #4D4D4D;
    color: #BFBFBF;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.actions .btn-login:hover {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.titulo {
    background-color: #d9a39b;
    padding: 20px;
    text-align: center;
}
.titulo img {
    max-width: 100px;
    border-radius: 10px;
}
.titulo h1 {
    margin: 10px 0;
}
.titulo p {
    font-size: 1rem;
    color: #000;
}
.episodes {
    padding: 20px;
}
.episode {
    background-color: #333;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}
.episode h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}
.episode p {
    margin: 10px 0;
}
.episode small {
    color: #aaa;
}