/* Estilos generales para eliminar márgenes y aplicar fuentes y fondo base */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* Estilos para el encabezado principal, uso de flexbox para disposición */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1A2235;
    padding: 1rem 2rem; 
    color: #FFFFFF;
}

/* Configuración de la imagen dentro del encabezado */
.header img {
    max-width: 4.375rem; 
    border-radius: 0.625rem; 
}

/* Estilos del logo dentro del encabezado */
.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #DADADA;
}

/* Estilos para enlaces de navegación */
.navigation a {
    margin: 0 0.625rem; 
    text-decoration: none;
    color: #f2911b;
    font-size: 1rem; 
}

/* Efecto hover en los enlaces de navegación */
.navigation a:hover {
    color: #FFFFFF;
}

/* Estilos para el contenedor de acciones en el encabezado */
.actions {
    margin-left: auto;
}

/* Botón de inicio de sesión, diseño con borde y colores */
.actions .btn-login {
    background-color: transparent;
    border: 0.0625rem solid #4D4D4D; 
    color: #f2911b;
    padding: 0.3125rem 0.9375rem; 
    border-radius: 1.25rem; 
    font-size: 0.875rem; 
    cursor: pointer;
}

/* Efecto hover en el botón de inicio de sesión */
.actions .btn-login:hover {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* Estilos para el título de la página */
.titulo {
    background-color: #d9a39b;
    padding: 1.25rem; 
    text-align: center;
}

/* Configuración de la imagen dentro del título */
.titulo img {
    max-width: 6.25rem; 
    border-radius: 0.625rem; 
}

/* Estilos para el encabezado principal del título */
.titulo h1 {
    margin: 0.625rem 0; 
}

/* Estilo para los párrafos dentro del título */
.titulo p {
    font-size: 1rem;
    color: white;
}

/* Contenedor principal para la sección de episodios */
.episodes {
    padding: 1.25rem; 
    color: white;
}

/* Diseño individual de cada episodio */
.episode {
    display: flex;
    gap: 1.25rem; 
    align-items: flex-start;
    padding: 1.25rem; 
    background-color: #1d113e;
    margin-bottom: 1.25rem; 
    border-radius: 0.625rem; 
    cursor: pointer;
}

/* Estilo del título de cada episodio */
.episode h2 {
    margin: 0 0 0.625rem; 
    font-size: 1.5rem;
}

/* Estilo para párrafos dentro de los episodios */
.episode p {
    margin: 0.625rem 0; 
}

/* Estilo para texto pequeño dentro de los episodios */
.episode small {
    color: #f2911b;
}

/* Clase adicional para texto especial en los episodios */
.episodeP {
    color: #f2911b;
}

/* Sección introductoria con disposición flexible y fondo personalizado */
#introSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2%;
    margin: 0px;
    background-color: #DBBFF9;
}

/* Imagen destacada en la introducción */
#heroImg {
    width: 11.25rem; 
    border-radius: 0.75rem; 
    margin-right: 1%;
}

/* Configuración del artículo de introducción */
#introArticle {
    max-width: 70%;
}

/* Encabezado dentro del artículo de introducción */
#introArticle h1 {
    font-size: 1.8rem; 
    color: #333;
}

/* Párrafos dentro del artículo de introducción */
#introArticle p {
    font-size: 1rem; 
    color: black;
    line-height: 1.6; 
}

/* Imagen secundaria de introducción */
#introImg {
    width: 10rem; 
    height: auto;
    border-radius: 0.75rem; 
}

/* Imagen de episodio con tamaño y proporción fija */
.episodeImg {
    width: 10rem; 
    flex-shrink: 0;
    height: auto;
    border-radius: 0.75rem; 
}

/* Contenedor de contenido de episodio con disposición flexible */
.episode-content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; 
}

/* Información oculta adicional de los episodios */
.episode-info-hidden {
    display: none;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify !important;
    padding-right: 5%;
}

/* Estilos para el modal emergente */
.modal {
    display: none;
    flex-direction: column;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: slategray;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
}

/* Fondo oscuro para el modal */
.modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 10px;
}

/* Encabezado del modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Título del modal */
.modal-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

/* Botón para cerrar el modal */
.close-modal {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* Contenedor de contenido dentro del modal */
.modal-content {
    display: flex;
    gap: 15px;
}

/* Imagen dentro del modal */
.modal-img {
    width: auto;
    height: 50px;
    border-radius: 12px;
}

/* Detalles dentro del modal */
.modal-details h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo para texto pequeño en los detalles del modal */
.modal-details small {
    color: #f2911b;
    display: block;
    margin: 5px 0;
}

/* Párrafos dentro de los detalles del modal */
.modal-details p {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify !important;
    padding-right: 5%;
}

/* Botón de llamada a la acción */
.cta-button {
    display: block;
    width: 100%;
    background-color: #5631f0;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

/* Hover para el botón de llamada a la acción */
.cta-button:hover {
    background-color: #4526c0;
}

/* Botón "leer más" */
.read-more {
    background-color: #7958ff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Hover para el botón "leer más" */
.read-more:hover {
    background-color: #4526c0;
}

/* Texto breve dentro de la descripción */
.short-description {
    display: inline;
}

/* Texto extendido oculto */
.more-text {
    display: none;
    text-align: justify;
}

/* Estilos del pie de página */
footer {
    background-color: #1a2235;
    color: #ffffff;
    padding: 1.4rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Columna dentro del pie de página */
.footer-column {
    flex: 1;
    margin-right: 1.25rem;
}

/* Títulos de las columnas en el pie de página */
.footer-column h3 {
    color: #f2911b;
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
}

/* Listas dentro de las columnas del pie de página */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos de las listas en el pie de página */
.footer-column ul li {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
}

/* Enlaces dentro de las listas del pie de página */
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover en los enlaces del pie de página */
.footer-column ul li a:hover {
    color: #f2911b;
}

/* Iconos sociales en el pie de página */
.social-icons {
    display: flex;
    gap: 0.625rem;
    margin-top: 0.9375rem;
}

/* Contenedor de iconos sociales */
.social-icons div {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #f2911b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Iconos dentro del contenedor */
.social-icons div i {
    color: #ffffff;
}

/* Sección derecha del pie de página */
.footer-right {
    text-align: right;
}

/* Párrafos en la sección derecha del pie de página */
.footer-right p {
    margin: 0.625rem 0;
    font-size: 0.875rem;
}

/* Botones en el pie de página */
.footer-buttons {
    margin-top: 1.25rem;
}

/* Estilos para los enlaces del pie de página */
.footer-buttons a {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin-right: 0.625rem;
    text-decoration: none;
    font-size: 0.875rem;
    color: #ffffff;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
}

/* Botón de inicio de sesión en el pie de página */
.footer-buttons a.login {
    background-color: transparent;
    border: 0.0625rem solid #ffffff;
}

/* Hover para el botón de inicio de sesión en el pie de página */
.footer-buttons a.login:hover {
    background-color: #ffffff;
    color: #1a2235;
}

/* Botón para crear cuenta en el pie de página */
.footer-buttons a.create-account {
    background-color: #f2911b;
}

/* Hover para el botón de crear cuenta */
.footer-buttons a.create-account:hover {
    background-color: #ffab40;
}

/* Sección inferior del pie de página */
.footer-bottom {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 0.75rem;
    color: #a0a0a0;
}

/* Línea horizontal decorativa en el pie de página */
hr {
    width: 80%;
    margin: 0 auto;
    border: 0.125rem solid orange;
}
